.cookie-button {
  box-sizing: content-box;
  height: 20vw;
  width: 20vw;
  background-color: pink;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
  border: none;
}

.cookie-button:hover {
  filter: drop-shadow(0 0 2em #eaff49);
  /* text-underline-offset: 3px; */
}
.cookie-button.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.cookie-img {
  width: inherit;
  height: inherit;
}
.cookie-img:active {
  filter: drop-shadow(0 0 2em #ffb31cdf);
}
